.filter {
  position: fixed;
  bottom: 7.5vh;
  left: 5vw;
}

.mat-menu-content {
  position: relative;
  bottom: 1vh;
}

.strikethrough {
  text-decoration: line-through;
  width: 100%;
}

.text-right {
  text-align: right;
}

img {
  height: 48px;
  width: 48px;
}
