.badge {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.badges {
  display: flex;
  justify-content: space-evenly;
}
.unearned {
  filter: grayscale(1) brightness(0.1);
}

.badge-container {
  background-color: #313131;
}

table {
  width: 100%;
}

.right-align {
  text-align: right;
}

td {
  line-height: 36px;
  padding: 0 10px;
}
