@import '../../../../../css/theme.scss';

.badge {
  width: 32px;
  height: 32px;
}
.badges {
  display: flex;
  justify-content: space-evenly;
}
.unearned {
  filter: grayscale(1) brightness(0.1);
}

.badge-container {
  background-color: mat-color($mat-grey, 900);
  // background-color: mat-color($mat-indigo);
}

table {
  width: 100%;
}

.right-align {
  text-align: right;
}
