<div class="container">
  <div class="badge-container py-2">
    <div class="py-1 badges" *ngFor="let rowBadges of rows; let firstRow = index">
      <img *ngFor="let badge of rowBadges; let badgeNumber = index" [src]="badge.url" class="badge"
        [class.unearned]="!badge.earned" (click)="earnBadge(badge, badgeNumber, !!firstRow)">
    </div>
    <table>
      <tbody>
        <tr>
          <td>Alive: {{ alive }}</td>
          <td></td>
          <td class="right-align">Boxed: {{ boxed }}</td>
        </tr>
        <tr>
          <td>Dead: {{ dead }}</td>
          <td class="text-center">
            <button mat-raised-button *ngIf="party.length" (click)="exportToTeamBuilder()">
              Export to Team Builder
            </button>
          </td>
          <td class="right-align">Missed: {{ missed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div cdkDropListGroup>
    <div *ngFor="let group of groups">
      <drag-drop [title]="group.title" [data]="group.data" (update)="dragDropChange($event)"></drag-drop>
    </div>
  </div>
</div>