.options-tree ul,
.options-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.w-80 {
  width: 80vw;
}
.search {
  margin: 1vh 0;
}
div.text-center > button {
  margin: 1vh 0;
}
.spinner {
  width: 100%;
}
.mat-icon-button[disabled] {
  width: 25px;
}
