.options-tree ul,
.options-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.w-80 {
  width: 80vw;
}
.reset {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
}
