<mat-card class="card">
  <mat-card-content>
    <div class="container">
      <div class="text-center first-types type-display">
        <div *ngFor="let types of firstThreeTypes">
          <div *ngFor="let type of types" class="{{ type }}-type type inline-block">
            &nbsp;
          </div>
        </div>
      </div>
      <div class="first-three text-center pokemon-display mt-1">
        <span *ngFor="let pokemon of firstThree" (click)="removeFromTeam(pokemon)">
          <app-pokemon [pokemon]="pokemon" [row]="getRow(pokemon)"></app-pokemon>
        </span>
        <span *ngFor="let name of firstThreeNames" class="pokemon-name">
          {{ name | hideForm }}
        </span>
      </div>
      <div class="last-three text-center pokemon-display">
        <span *ngFor="let pokemon of lastThree" (click)="removeFromTeam(pokemon)">
          <app-pokemon [pokemon]="pokemon" [row]="getRow(pokemon)"></app-pokemon>
        </span>
        <span *ngFor="let name of lastThreeNames" class="pokemon-name">
          {{ name | hideForm }}
        </span>
      </div>
      <div class="text-center last-types type-display">
        <span *ngFor="let types of lastThreeTypes">
          <div *ngFor="let type of types" class="{{ type }}-type type inline-block">
            &nbsp;
          </div>
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>