<form [formGroup]="evolveFormGroup">
  <h1 mat-dialog-title>Evolution of {{ evolutionName }}</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field>
        <input
          matInput
          formControlName="pokemon"
          #pokemon
          placeholder="Pokemon"
          [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectPokemon()">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option">
          {{ option | titlecase }}
          <img
            class="pokemon"
            [src]="option | pokemonImage"
            [alt]="option">
        </mat-option>
      </mat-autocomplete>
      <mat-form-field>
        <input
          autocomplete="off"
          matInput
          formControlName="nickname"
          placeholder="Nickname">
      </mat-form-field>
    </div>
  </div>
  <div
    mat-dialog-actions
    class="center-buttons">
    <button
      mat-raised-button
      cdk
      (click)="onClose('cancel')">
      Cancel
    </button>
    <button
      mat-raised-button
      cdkFocusInitial
      (click)="onClose('ok')">
      Ok
    </button>
  </div>
</form>
