form {
  text-align: center;
}
.pokemon {
  width: 48px;
  height: 48px;
  float: right;
}
.hidden {
  display: none;
}
mat-form-field {
  width: 100%;
}
.pokemon-big {
  width: 50%;
  height: 50%;
}
