.container {
  text-align: center;
  margin-top: 5vh;
}

.first-three {
  @media (max-height: 700px) {
    margin-top: 3.5vh;
  }
  margin-top: 5vh;
}

.card {
  margin: 1.5vh 7.5vw;
  height: 35vh;
}
