<mat-card class="card">
  <mat-card-content>
    <div class="container">
      <div class="first-three text-center idk">
        <span *ngFor="let pokemon of firstThree" (click)="removeFromTeam(pokemon)">
          <pokemon [pokemon]="pokemon" [row]="getRow(pokemon)"></pokemon>
        </span>
      </div>
      <div class="text-center first-types wat">
        <span *ngFor="let types of firstThreeTypes">
          <div *ngFor="let type of types" class="{{ type }}-type type inline-block">
            &nbsp;
          </div>
        </span>
      </div>

      <div class="last-three text-center idk">
        <span *ngFor="let pokemon of lastThree" (click)="removeFromTeam(pokemon)">
          <pokemon [pokemon]="pokemon" [row]="getRow(pokemon)"></pokemon>
        </span>
      </div>
      <div class="text-center last-types wat">
        <span *ngFor="let types of lastThreeTypes">
          <div *ngFor="let type of types" class="{{ type }}-type type inline-block">
            &nbsp;
          </div>
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>