.party-container {
  background-color: #3f51b5;
  min-height: 13vh;
}

.boxed-container {
  background-color: #689f38;
  min-height: 13vh;
}

.heaven-container {
  background-color: #6d4c41;
  min-height: 13vh;
}

.missed-container {
  background-color: #ff8a65;
  min-height: 13vh;
}

.pokemon {
  width: 66px;
  height: 66px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
