<div *ngIf="active" cdkDropList [cdkDropListData]="data" class="{{ title | lowercase }}-container pb-2 text-center"
  (cdkDropListDropped)="drop($event)">
  <div>{{ title | titlecase }}</div>
  <div class="container">
    <span>
      <img *ngFor="let pokemon of data" class="pokemon" [src]="pokemon?.name | image" (click)="selectPokemon(pokemon)"
        cdkDrag (cdkDragStarted)="startDragging()" (cdkDragEnded)="stopDragging()">
    </span>
  </div>
</div>
<div *ngIf="!active" class="{{ title | lowercase }}-container pb-2 text-center">
  <div>{{ title | titlecase }}</div>
  <div class="container">
    <span>
      <img *ngFor="let pokemon of data" class="pokemon" [src]="pokemon?.name | image">
    </span>
  </div>
</div>