<div class="text-center">
  <h1 mat-dialog-title>{{encounter}}</h1>
  <div mat-dialog-content>
    <h3 [class.hidden]="page === 2">Did you obtain a pokemon?</h3>
  </div>
  <div mat-dialog-content [class.hidden]="page === 1">
    <app-picker-dialog [random]="random" [hideNickname]="!caught" [limitOptionsByEvolution]="false"
      [pokemonOptions]="pokemonOptions">
    </app-picker-dialog>
  </div>
  <div mat-dialog-actions class="center-buttons">
    <div [class.hidden]="page === 1">
      <button mat-raised-button [class.hidden]="page === 1" color="warn" (click)="onClose('cancel')">
        Cancel
      </button>
      <button mat-raised-button [class.hidden]="page === 1" [disabled]="!routeFormControl.valid" color="accent"
        (click)="onClose('ok')">
        Ok
      </button>
    </div>
    <div [class.hidden]="page === 2">
      <div class="center-buttons mb-2">
        <button mat-raised-button color="warn" (click)="obtained('no')">
          No
        </button>
        <button mat-raised-button color="accent" (click)="obtained('yes')">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>