<form class="text-center" [formGroup]="routeFormControl">
  <h1 mat-dialog-title>Add Route</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field>
        <input autocomplete="off" matInput formControlName="route" placeholder="Route Name">
      </mat-form-field>
    </div>
    <mat-slide-toggle formControlName="current">Save for this run?</mat-slide-toggle>
  </div>
  <div mat-dialog-actions class="center-buttons">
    <button color="warn" mat-raised-button (click)="onClose('cancel')">
      Cancel
    </button>
    <button color="accent" mat-raised-button (click)="onClose('ok')">
      Ok
    </button>
  </div>
</form>