<form [formGroup]="routeFormControl">
  <h1 mat-dialog-title>Delete Route</h1>
  <div mat-dialog-content>
    <div>
      Would you like to delete the encounter for {{routeName}}?
    </div>
    <mat-slide-toggle formControlName="current">Delete for this run?</mat-slide-toggle>
  </div>
  <div mat-dialog-actions class="center-buttons">
    <button mat-raised-button color="warn" (click)="onClose('cancel')">
      Cancel
    </button>
    <button color="accent" mat-raised-button (click)="onClose('ok')">
      Ok
    </button>
  </div>
</form>