/* You can add global styles to this file, and also import other style files */
@import './css/helper.min.css', './css/type-colorings.min.css',
  './css/type-sprites.min.css';

.sprite {
  width: 74px;
  height: 74px;
  background-size: 100%;
  background-position: center;
  border-radius: 50%;
  margin: 5px;
}

.sprite:hover {
  cursor: pointer;
}

.logo {
  width: 32px;
  height: 32px;
  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none !important;
}

.hover:hover {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555555;
}

mat-spinner {
  margin: 1vh auto;
}

.add-button {
  position: fixed !important;
  bottom: 7.5vh;
  right: 5vw;
}

.test-button {
  position: fixed !important;
  bottom: 7.5vh;
  left: 5vw;
}

.center-buttons {
  justify-content: center;
}
