<mat-sidenav-container
  class="container"
  (backdropClick)="setOpen(false)">
  <mat-sidenav
    [(opened)]="opened"
    (keydown.escape)="setOpen(false)"
    class="sidebar"
    disableClose>
    <div *ngFor="let link of links">
      <a
        class="text-center link"
        matRipple
        [routerLink]="link.link"
        [class.active-link]="isActive(link.link)">
        <mat-icon class="icon">{{link.icon}}</mat-icon>
        {{ link.link | route }}
      </a>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
